* {
  --min_height: 700px;
  --header_footer_maxHeight: 100%;
  --header_footer_minHeight: 80px;
  --header_footer_height: 80px;
  --topBar_color: rgb(160, 255, 160);
  --text_color1: rgb(46, 134, 46);
  --relativeVH: calc(95vh - var(--header_footer_height));
  --section_top_height: calc(95vh - var(--header_footer_height));
  --section_bottom_height: calc(
		95vh - var(--header_footer_height) - var(--header_footer_height)
	);
  --green_dark1: rgb(0, 71, 0);
  --green_dark2: rgb(0, 117, 0);
  --green_dark3: rgb(1, 163, 1);
  --green_light1: rgb(107, 238, 107);
  --green_light2: rgb(205, 255, 205);
  --green_light3: rgb(238, 255, 238);
  --BG_totalPrice: rgb(255, 238, 0);
  --insideStore1: url("../../images/insideStore1.jpeg");
  --insideStore2: url("/src/assets/images/insideStore2.jpeg");
  --insideStore3: url("/src/assets/images/insideStore3.jpeg");
  --teamPic4: url("/src/assets/images/teamPic4.jpeg");
  --dish1: url("/src/assets/images/dish1.jpeg");
  --dish2: url("/src/assets/images/dish2.jpeg");
  --dish3: url("/src/assets/images/dish3.jpeg");
  --dish4: url("/src/assets/images/dish4.jpeg");
  --dish5: url("/src/assets/images/dish5.jpeg");
  --drink1: url("/src/assets/images/drink1.jpeg");
  --drink2: url("/src/assets/images/drink2.jpeg");
  --drink3: url("/src/assets/images/drink3.jpeg");
}

.OrderPage .Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.Footer {
  border: 1px solid var(--green_dark1);
  background-color: var(--green_light2);
  height: var(--header_footer_height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-element {
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.Header_Link:hover,
.footer-element:hover {
  background-color: var(--green_light3);
}

.Header,
.Footer {
  border: 1px solid #004700;
  background-color: var(--green_light2);
  max-height: var(--header_footer_maxHeight);
  min-height: var(--header_footer_minHeight);
}

.Header_Link {
  border-radius: 5px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_footer_wrapper {
  max-height: calc(100vh - var(--header_footer_height));
  overflow-y: scroll;
}

.OP_Header_RightIcon_Button {
  background-color: var(--green_light3);
  border: 1px solid var(--green_dark1);
}

.ItemCount_span {
  background-color: black;
  color: white;
}

.navbar_elements {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_elements li a {
  color: black;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  left: -95px;
  right: 5px;
  top: 35px;
  background-color: white;
  min-width: 140px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  z-index: 1;
}

.location-link {
  padding: 5px;
  width: 100%;
  display: inline-block;
  border-radius: 5px;
}

.location-link:hover {
  background-color: var(--green_light2);
}

.snap-type-y {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.snap-element {
  scroll-snap-align: start;
}

.home_hero_parent {
  position: relative;
}

.home_hero_parent .home_hero_children {
  position: absolute;
  height: calc(100vh - var(--header_footer_height));
  min-height: 600px;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.home_hero_parent .home_hero_child1_image {
  background-image: var(--insideStore2);
  background-position: 80%;
  background-size: cover;
}

.home_hero_parent .home_hero_child2_fade {
  background-color: var(--green_light3);
  opacity: 70%;
  position: relative;
}

.home_hero_parent .home_hero_child3_textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.locations {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.locations-box {
  border: 1px solid var(--green_dark2);
}

.hours {
  margin-bottom: 1rem;
  width: 100%;
}

.BgHeroImage_parent {
  position: relative;
}

.BgHeroImage_children {
  height: calc( 100vh - var(--header_footer_height) - var(--header_footer_height));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.BgHeroImage_child1_image {
  background-position: 80%;
  background-size: cover;
}

.BgHeroImage_child2_fade {
  background-color: var(--green_light3);
  opacity: 70%;
  position: relative;
}

.Image_Layer {
  height: calc(100vh - var(--header_footer_height));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bg-image1 {
  background-image: var(--insideStore2);
  background-position: 80%;
  background-size: cover;
}

.bg-image2 {
  background-image: var(--insideStore1);
  background-position: 80%;
  background-size: cover;
}

.Total_Price {
  background-color: var(--BG_totalPrice);
  border: 2px solid black;
}

.Total_Btn {
  background-color: #d18292;
}

.HeaderCart,
.BodyCart {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--green_dark2);
  background-color: var(--green_light3);
  padding: 10px 10px;
}

.BodyCart {
  max-height: var(--relativeVH);
}

.HeaderCart {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: -100vh;
  top: var(--header_footer_height);
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  max-height: 80vh;
}

.cartEmpty,
.cartNotEmpty {
  border: 1px solid var(--green_dark1);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Cart_Header {
  background-color: var(--green_light2);
}

.Cart_Items {
  border: 1px solid var(--green_dark1);
  background-color: var(--green_dark1);
  overflow-y: scroll;
}

.Cart_Items_Item {
  margin: 0.5rem;
  background-color: var(--green_light3);
}

.Cart_Total {
  border: 1px solid var(--green_dark1);
  background-color: var(--green_light2);
}

.horizontal_line {
  background-color: var(--green_dark2);
  height: 2px;
}

.TotalPrice {
  background-color: var(--BG_totalPrice);
  border: 2px solid black;
}

.CheckoutBtn {
  background-color: var(--green_dark1);
  color: white;
}

.minusBtn,
.plusBtn {
  background-color: var(--green_dark1);
  color: white;
  margin-right: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
}

.Style_darkBtn {
  background-color: var(--green_dark1);
  color: white;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
}

.Menu_Component {
  background-color: var(--green_light3);
  border: 1px solid var(--green_dark2);
}

.Menu_Title {
  background-color: var(--green_dark1);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Logo_Header {
  max-height: 75px;
}

.bg-1 {
  background-color: var(--green_light2);
  border-radius: 8px;
}

#price {
  color: var(--text_color1);
}

.dish_name {
  font-weight: bold;
}

.ContactUs_Wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  height: calc( 100vh - var(--header_footer_height) - var(--header_footer_height));
  min-height: 350px;
}

.ContactUs_Wrapper .ContactUs_Img {
  background-image: var(--teamPic4);
  opacity: 40%;
  position: absolute;
  background-size: cover;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ContactUs_Wrapper .ContactUs_Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--green_light3);
  border: 1px solid var(--green_dark2);
  position: relative;
}

.ContactUs_Wrapper .ContactUs_Content .ContactUs_Form fieldset {
  border: 1px solid var(--green_dark2);
}

.ContactUs_Wrapper .ContactUs_Content .ContactUs_Form fieldset .contact-submit {
  background-color: var(--green_dark1);
  color: white;
}

.Cart_Items {
  overflow-y: auto;
}

.order_btn {
  background-color: var(--green_dark1);
  color: white;
}

.Menu_Item {
  border: 1px solid var(--green_dark2);
  background-color: var(--green_light2);
}

.BTN_SubmitGreen {
  background-color: var(--green_dark1);
  color: white;
}
/*# sourceMappingURL=App.css.map */