// .box { border: 1px solid black}
// .box2 { border: 2px solid black}

$min_height: 700px;

$header_footer_height: 80px;

$topBar_color: rgb(160, 255, 160);
$text_color1: rgb(46, 134, 46);
$relativeVH: calc(95vh - $header_footer_height);

$green_dark1: rgb(0, 71, 0);
$green_dark2: rgb(0, 117, 0);
$green_dark3: rgb(1, 163, 1);

$green_light1: rgb(107, 238, 107);
$green_light2: rgb(205, 255, 205);
$green_light3: rgb(238, 255, 238);

// Images
$insideStore1: url('../public/assets/images/insideStore1.jpeg');
$insideStore2: url('../public/assets/images/insideStore2.jpeg');
$insideStore3: url('../public/assets/images/insideStore3.jpeg');

$teamPic4: url('../public/assets/images/teamPic4.jpeg');

$dish1: url('../public/assets/images/dish1.jpeg');
$dish2: url('../public/assets/images/dish2.jpeg');
$dish3: url('../public/assets/images/dish3.jpeg');
$dish4: url('../public/assets/images/dish4.jpeg');
$dish5: url('../public/assets/images/dish5.jpeg');

$drink1: url('../public/assets/images/drink1.jpeg');
$drink2: url('../public/assets/images/drink2.jpeg');
$drink3: url('../public/assets/images/drink3.jpeg');

.cbm-green { background-color: rgb(160, 255, 160); }

.flex-center { display: flex; justify-content: center; align-items: center; }

.OP_Header, .OP_Footer, .HP_Header, .HP_Footer .Footer {
  border: 1px solid $green_dark1;
  background-color: $green_light2;

  height: $header_footer_height;

  display: flex;
  justify-content: space-between;
}

.Footer{
  border: 1px solid $green_dark1;
  background-color: $green_light2;

  height: $header_footer_height;

  display: flex;

  justify-content: center;
  align-items: center;
}

.footer-element {
  margin-right: 20px;
}

.app, .HomePage {

  .HP_Header {
    
    .navbar_elements {
      list-style-type: none;
    
      display: flex;
      justify-content: center;
      align-items: center;
    
      li {
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      position: absolute;
      left: -45px;
      top: 35px;

      background-color: rgba(255, 255, 255, 0.65);
      min-width: 140px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 10px 10px;
      z-index: 1;
    }

    .dropdown-location {
      padding: 5px;
      width: 100%;
      display: inline-block;
      border-radius: 5px;
    }

    .dropdown-location:hover {
      background-color: $green_light2;
    }
  }
  .body_footer_wrapper {
    max-height: calc(100vh - $header_footer_height);
    overflow-y: auto;
  
    .Body {
      
      .snap-type-y{
        scroll-snap-type: y mandatory;
      }

      .snap-element{
        scroll-snap-align: start;
      }

      .home_hero_parent{ 
        position: relative;
      }

      .home_hero_children{
        height: calc(100vh - $header_footer_height);
        min-height: $min_height;
        position: absolute;

        top:0%;
        bottom:0%;
        left:0%;
        right:0%;

        overflow: hidden;

      }

      .home_hero_child1_image {
        background-image: $insideStore2; 
        background-position: 80%;
        background-size: cover;
      }

      .home_hero_child2_fade {
        background-color: $green_light3; 
        opacity: 70%;
        position: relative;
      }
  
      .home_hero_child3_textContent { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      
        .locations {
          margin-top: 1rem;
          margin-bottom: 1rem;
          width: 100%;
        }
        .hours {
          margin-bottom: 1rem;
          width: 100%;
        }
      }

      .Menu { 
        background-color: $green_light2; 
        scroll-snap-align: start;

      }
    }
  }
}

.BgHeroImage_parent{ position: relative; }

.BgHeroImage_children{
  height: calc(100vh - $header_footer_height - $header_footer_height);
  position: absolute;

  top:0%;
  bottom:0%;
  left:0%;
  right:0%;
}

.BgHeroImage_child1_image {
  background-position: 80%;
  background-size: cover;
}

.BgHeroImage_child2_fade {
  background-color: $green_light3; 
  opacity: 70%;
  position: relative;
}

.Image_Layer{
  height: calc(100vh - $header_footer_height);
  position: absolute;

  top:0%;
  bottom:0%;
  left:0%;
  right:0%;
}

.bg-image1{
  background-image: $insideStore2; 
  background-position: 80%;
  background-size: cover;
}

.bg-image2{
  background-image: $insideStore1; 
  background-position: 80%;
  background-size: cover;
}


.OrderPage {

  .OP_Header {
    position: relative;

    .OP_Header_Logo {
      height: 5rem;
      width: 15rem;
    
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .OP_Header_RightIcon {

      .OP_Header_RightIcon_Button {
        background-color: $green_light3;
        border: 1px solid $green_dark1;

        .ItemCount_span {
          background-color: black;
          color: white;
        }
      }
  
      .OP_HeaderCart {
        position: absolute;
        z-index: 1;

        left: 0;
        right:0;

        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }

  .OP_Body {


    .OP_Body_Cart { 
      background-color: $green_light3; 
      height: $relativeVH;
      // border: 1px solid $green_dark1;

      .OP_Body_Cart_Header {
        background-color: $green_light2;
      }
    
      .OP_Body_Cart_Items {
        background-color: rgb(4, 131, 0);
        overflow-y: auto;
  
        .Cart_Item {
          margin: .5rem;
          background-color: rgb(9, 255, 0);
        }
      }
    
      .OP_Body_Cart_Total {
        background-color: rgb(255, 249, 167);

        .Total_Price { background-color: rgb(255, 238, 0);
        border: 2px solid black
        }
        .Total_Btn {
          background-color: rgb(209, 130, 146);
        }
      }
    
    }

  }

  .OP_HeaderCart, .Cart {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    background-color: $green_light3; 
    max-height: $relativeVH;

    padding: 10px 10px;

    .cartEmpty{
      border: 1px solid $green_dark1;
      width: 100%;
      display: flex;
      justify-content: center;

    }
    .cartNotEmpty {
      border: 1px solid $green_dark1;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .OP_HeaderCart_Header, .Cart_Header {
      background-color: $green_light2;
    }
  
    .OP_HeaderCart_CartItems, .Cart_Items {
      border: 1px solid $green_dark1;
      background-color: $green_dark1;
      overflow-y: auto;
      // max-height: 40vh;

      .OP_HeaderCart_CartItems_Item, .dish {
        margin: .5rem;
        background-color: $green_light3;
      }
    }
  
    .Cart_Total {
      border: 1px solid $green_dark1;
      background-color: $green_light2;

      .horizontal_line {
        background-color: $green_dark2;
        height: 2px;

      }
      .TotalPrice { 
        background-color: rgb(255, 246, 125);
        border: 2px solid black
      }
      .CheckoutBtn {
        background-color: $green_dark1;
        color: white;
      }
    }
  
  }

  .remove, .add {
    background-color: $green_dark1;
    color: white;

    margin-right: 0.25rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border-radius: 0.5rem; 
  }
}

.contact-submit{
  background-color: $green_dark1;
  color: white;

}
.Menu_Title {
  background-color: $green_dark1;
  color: white;

  padding-top: 5px;
  padding-bottom: 5px;
}

.logo_HP_Header{
  width: 15rem;
}

.logo_HP_Home{
  max-width: 50rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-1{
  background-color: $green_light2;
  border-radius: 8px;
}

#price {
  color: $text_color1;
}

.dish_name {
  font-weight: bold;
}
.ContactUs_Wrapper{

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  position: relative;

  height: calc(100vh - $header_footer_height - $header_footer_height);
  min-height: 350px;

  
}
.ContactUs_img {
  background-image: $teamPic4;
  opacity: 40%;

  position: absolute;
  background-size: cover;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.ContactUs_content { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: $green_light3;

  position: relative;
}

.contact_fieldset{
  border: 1px solid $green_dark2;
}

.Header_element {
  padding: 5px 10px 5px 10px;
}

.Header_element:hover{
  background-color: $green_light3;
}

.OP_Body_Menu { 
  background-color: $green_light3; 
  border: 1px solid $green_dark2;

  .order_btn {
    background-color: $green_dark1;
    color: white;
  }
  .menu_item {
    border: 1px solid $green_dark2;
    background-color: $green_light2;
  }
}

// Animations
.animate_DOWN {
  animation-name: fade_IN, slide_DOWN, displayBlock;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  overflow: hidden;
}

.animate_UP {
  animation-name: fade_OUT, slide_UP, displayHidden;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  overflow: hidden;
}

.roll_UP_animation {
  animation-name: fade_OUT, roll_UP;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

.roll_DOWN_animation {
  animation-name: fade_IN, roll_DOWN;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

@keyframes fade_IN {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_OUT {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide_DOWN {
  0% {
    margin-top: -10px;
  }
  
  100% {
    margin-top: 0px;
  }
  
}
@keyframes slide_UP {
  0% {
    margin-top: 0px;
  }
  
  100% {
    margin-top: -10px;
  }
  
}

@keyframes roll_DOWN {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 500px;
  }
}
@keyframes roll_UP {
  0% {
    max-height: 500px;

  }
  100% {
    max-height: 0px;
  }
}

@keyframes displayBlock {
  0% {
    display: hidden;
  }
  100% {
    display: block;
  }
}
@keyframes displayHidden {
  0% {
    display: block;
  }
  100% {
    display: hidden;
  }
}
