$header_footer_height: 80px;

$topBar_color: rgb(160, 255, 160);
$text_color1: rgb(46, 134, 46);

.box { border: 1px solid black}

.logo {
  height: 5rem;
  width: 15rem;
  // margin: 0.25em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  position: fixed;
  width: 100vw;
  background-color: $topBar_color;
  height: $header_footer_height;

  display: flex;
  justify-content: space-between;

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.65);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px;
    z-index: 1;
  }
  .dropdown-location:hover {
    background-color: rgba(123, 251, 255, 0.65);
  }
  .dropdown:hover .dropdown-content {
    display: block;

  }

}

.navbar_elements {
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;

  li {
    margin-right: 1rem;

    a {
      color: black;
      text-decoration: none;
    }
  }
}

.section {
  min-height: 100vh;
  padding-top: $header_footer_height;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

#Contact {
  min-height: calc(100vh - $header_footer_height)
}

.Home { 
  background-color: aqua; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .hours {
    margin: 1rem;
    width: 100%;

    .hour_grid {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
}
.Menu { background-color: rgb(160, 233, 255); }
.Cart { background-color: rgb(255, 182, 182); }

.Contact { background-color: rgb(236, 161, 255); 
  height: calc(100vh - $header_footer_height - $header_footer_height);
}
.cbm-green { background-color: rgb(160, 255, 160); }

.Footer { 
  background-color: rgb(255, 247, 132);
  height: $header_footer_height;
}

.order_btn {
  background-color: cyan;
  border: 1px solid black;

}

#price {
  color: $text_color1;
}

.dish_name {
  // background-color: rgb(255, 130, 130);
  font-weight: bold;
}

.header_1 {
  background-color: chartreuse;
}